* {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

body {
  background: #750e0e url('seigaiha.png') fixed;
  font-family: "Book Antiqua", Palatino, serif;
}

div#wrapper {
  width: 840px;
  max-width: 80%;
  margin: 30px auto;
  padding: 20px;
  background: rgba(255,253,221,.75);
  border-radius: 15px;
}

section {
  width: 45%;
}

aside {
  border-radius: 15px;
  padding: 20px;
  margin: 0 20px 8px;
  background: rgba(255,246,221,.5);
  box-shadow: 2px 2px 3px #750e0e;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

div#line {
  width: 80%;
  margin: 20px auto;
  border: 1px #fff6dd inset;
}

h1, h2 {
  color: #750e0e;
  font-family: Candara, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 3.4em;
  line-height: 1em;
  padding-bottom: 20px;
}

h2 {
  font-size: 2em;
  line-height: 1em;
  padding-bottom: 15px;
}

p, li {
  font-size: 1.2em;
  padding-bottom: 14px;
  line-height: 1.4em;
}

ul {
  list-style: none;
}

ol {
  margin-left: 30px;
}

li {
  margin-left: 10px;
}

li img {
  height: 1.2em;
  margin: 5px;
  vertical-align: -35%;
}

a {
  text-decoration: none;
  color: #750e0e;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

ol li {
  margin-left: 15px;
  color: #750e0e;
}

span.title {
  font-style: italic;
  color: #000;
}

aside ul {
  list-style: circle;
  color: #750e0e;
}

aside ul li {
  margin-left: 20px;
}

.default {
  color: #000;
}
