* {
  font-weight: normal;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #750e0e url('seigaiha.png') fixed; /* Background pattern from Subtle Patterns */
  font-family: "Book Antiqua", Palatino, serif;
}

#wrapper {
  width: 840px;
  max-width: 80%;
  margin: 30px auto;
  padding: 20px;
  background: rgba(255,253,221,.75);
  border-radius: 15px;
  border-bottom-left-radius: 70px;
  position: relative;
}

section {
  width: 45%;
}

aside {
  border-radius: 15px;
  padding: 20px;
  margin: 0 20px 8px;
  background: rgba(255,246,221,.5);
  box-shadow: 2px 2px 3px #750e0e;
  width: auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear-fix {
  clear: both;
}

#line {
  width: 80%;
  margin: 20px auto;
  border: 1px #fff6dd inset;
}

button {
  color: #750e0e;
  font-family: Candara, "Trebuchet MS", sans-serif;
  font-size: 2em;
  line-height: 1em;
  border-radius: 15px;
  border: none;
  background: rgba(255,246,221,.5);
  padding: 20px;
  width: 80%;
  margin: 0 10% 15px;
}

button:hover {
  background: #750e0e;
  color: #EEDCC3;
}

h1, h2 {
  color: #750e0e;
  font-family: Candara, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 3.4em;
  line-height: 1em;
  padding-bottom: 20px;
}

h2 {
  font-size: 2em;
  line-height: 1em;
  padding-bottom: 15px;
}

p, li {
  font-size: 1.2em;
  padding-bottom: 14px;
  line-height: 1.4em;
}

ul {
  list-style: none;
}

ol {
  margin-left: 30px;
  width: auto;
}

li {
  margin-left: 10px;
  width: auto;
}

li img {
  height: 1.2em;
  width: auto;
  margin: 5px;
  vertical-align: -35%;
}

a {
  text-decoration: none;
  color: #750e0e;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

h2 a {
  font-style: normal;
  margin-left: 120px;
}

ol li {
  margin-left: 15px;
  color: #750e0e;
}

span.title {
  font-style: italic;
  color: #000;
}

aside ul {
  list-style: circle;
  color: #750e0e;
}

aside ul li {
  margin-left: 20px;
}

span.answer {
  padding-left: 15px;
}

.correct, .wrong {
  padding-left: 15px;
  font-weight: 800;
}

.correct {
  color: #0ba015;
}

.wrong {
  color: #e50b0b;
}

#score-box {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 20px;
}

#score-box .num {
  color: #750e0e;
  font-weight: bold;
}

#bottom-page {
  height: 40px;
}

#copyright {
  font-size: .73em;
  margin-top: 15px;
  margin-left: 115px;
  width: auto;
}

#circle {
  background: #750e0e;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 20px;
  border-radius: 50px;
}

#copyright li {
  display: inline;
  margin-right: 15px;
}

.default {
  color: #000;
}

.hide {
  display: none;
}
