* {
  font-weight: normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background: #750e0e url('seigaiha.png') fixed;
  font-family: "Book Antiqua", Palatino, serif;
}

div#wrapper {
  width: 980px;
  max-width: 80%;
  margin: 30px auto;
  padding: 20px;
  background: rgba(255,253,221,.75);
  border-radius: 15px;
}

h1, h2 {
  color: #750e0e;
  font-family: Candara, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 3.4em;
  line-height: 1em;
  padding-bottom: 20px;
}

h2 {
  font-size: 2em;
  line-height: 1em;
  padding-bottom: 15px;
}

div#line {
  width: 80%;
  margin: 20px auto;
  border: 1px #fff6dd inset;
}

p, li {
  font-size: 1.2em;
  padding-bottom: 14px;
  line-height: 1.4em;
}

li {
  margin-left: 10px;
}

li img {
  height: 1.2em;
  margin: 5px;
  vertical-align: -35%;
}

a {
  text-decoration: none;
  color: #750e0e;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}
